<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application android:name=".ZvonilkaApplication" android:label="Звонилка" android:theme="@style/AppTheme" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tel" />
            </intent-filter>
        </activity>
        <activity android:name=".CallActivity" android:exported="false" android:launchMode="singleTask" android:excludeFromRecents="true" android:taskAffinity="ru.zvonilka.prototype.call" android:showWhenLocked="true" android:turnScreenOn="true" />
        <service android:name=".PhoneService" android:exported="true" android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data android:name="android.telecom.IN_CALL_SERVICE_UI" android:value="true" />
            <intent-filter><action android:name="android.telecom.InCallService" /></intent-filter>
        </service>
        <receiver android:name=".SystemMissedReceiver" android:exported="true" android:permission="android.permission.MODIFY_PHONE_STATE">
            <intent-filter><action android:name="android.telecom.action.SHOW_MISSED_CALLS_NOTIFICATION" /></intent-filter>
        </receiver>
        <receiver android:name=".MissedReceiver" android:exported="false" />
        <receiver android:name=".CallActionReceiver" android:exported="false" />
    </application>
</manifest>
